* {
  box-sizing: border-box;
}
.cont{
	margin-top: 10px;

	margin-bottom: 10px;

	padding: 10px;
}
section{ border: 5px solid black; }

h1{text-align: center; font-family: "Comic Sans MS", cursive,sans-serif;}
div{font-family: "Comic Sans MS", cursive, sans-serif;}
#d1{
	background: #FFB6C1;
	border: 2px solid black;
	float: right;
	width: 30%;
	padding: 2px;
}
#d2{
	background: #ff0000;
	border: 2px solid black;
	float: right;
	width: 30%;
	padding: 2px;
}
#d3{
	background: #FFFF33;
	border: 2px solid black;
	float: right;
	width: 30%;
	padding: 2px;
}
p{background: #808080;padding: 25px; margin: 0}
@media (min-width: 992px){
   .pc {
   	float: left;
   	width: 33.33%;
   	}	}
@media (min-width: 768px) and (max-width: 991px){
	.tab {
		float: left;
		width: 50%;

	}
	.spec {
		float: left;
		width: 100%;

	}
}
@media (max-width: 768px){
	.mob{
		float: left;
		width: 100%;
	}
}
